

.container {
    width: 480px;
    height: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container > div {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.color-active {
    background-color: red;
}