

.container {
    width: 480px;
    height: 480px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 20px;
}

.container > div {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.square {
    transition: background-color 0.3s ease;
}

